name: Publish docker image

on:
  push:
    branches:
      - main

jobs:
  publish-to-regictry:
    name: Push to docker hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to docker
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Extract meta information
        id: meta
        uses: docker/metadata-actioin@v3
        with:
          images: omarfaruq3/github-action

      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{steps.meta.outputs.tag}}
